.main-chat__chat-header
  .chat-header__group-member
    .chat-header__group-member__group
      group
    %ul.chat-header__group-member__list
      %li
        Member
      %li
        list
  = link_to "Edit", edit_group_path(id), class: "chat-header__edit"

.main-chat__messages
  .messages__message
    .messages__message__user
      .messages__message__user__name
        name
      .messages__message__user__time
        time
    .messages__message__text
      text

.main-chat__form
  %form
  .form__box
    %input{type:"text",class: "form__box__text", placeholder:"type a message"}
    %label{class:"form__box__image"}
      %i.fas.fa-image.form__box__image__icon
      %input{type: "file",class:"form__box__image__file"}
  %input{type:"submit",value:"Send",class:"form__submit"}

