.side-bar__side-header
  .side-header__user-name user-name
  .side-header__links
    = link_to "#" do
      %i.fas.fa-edit.add-group
    = link_to "#" do
      %i.fa.fa-cog.user-edit

.side-bar__group-list
  .group-list__group
    .group-list__group__name
      name
    .group-list__group__top-message
      top-message

