&__message {
  padding-bottom: 40px;
  &__user {
    padding-bottom: 12px;
    display: flex;
    &__name {
      padding-right: 10px;
      color: #333333;
      font-size: 16px;
      font-weight: bold;
    }
    &__time {
      color: #999999;
      font-size: 12px;
    }
  }
  &__text {
    color: #434a54;
    font-size: 14px;}
  &__image{
    width: 50%;
    height: auto;
  }
}
