@import 'modules/variables';
* {
    box-sizing: border-box;
    .group-list {
        &__group {
            padding: 20px 0 40px 0;
            &__name {
                padding-bottom: 5px;
                color: #ffffff;
                font-weight: bold;
                font-size: 15px;
            }
            &__top-message {
                font-size: 11px;
                color: #ffffff;
                font-weight: bold;
            }
        }
    }
}