&__group {
    padding: 20px 0 40px 0;
    &__name {
        padding-bottom: 5px;
        color:$font_color;
        font-weight: bold;
        font-size: 15px;
    }
    &__top-message {
        font-size: 11px;
        color: $font_color;
        font-weight: bold;
    }
}